.boxes {
  border: solid 2px black;
  height: 200px;
}

.rotate {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}

#arrow {
  text-align: center;
  color: red;
  font-size: 110px;
}

#dieRoll {
  font-size: 100px;
  text-align: center;
  margin-top: 25px;
}

#pageHeader {
  text-align: center;
  font-family: monospace;
  margin-bottom: 40px;
}

body {
  background-color: #A4CC95;
}

button{
  margin-top: 10px;
}

#snakeEyes {
  display: none;
}
