.boxes {
  border: solid 2px black;
  height: 200px;
}

.rotate {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}

#arrow {
  text-align: center;
}
