.boxes {
  border: solid 2px black;
  height: 200px;
}

.rotate {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}

#arrow {
  text-align: center;
}

#dieRoll {
  font-size: 100px;
  text-align: center;
  margin-top: 25px;
}

#headerLink{
  color: black;
  font-family: monospace;
  text-align: center;
}

#headerLink:hover {
  text-decoration: none;
  cursor: default;
  font-family: monospace;
  color: black;
  text-align: center;
}

#pageHeader {
  text-align: center;
  font-family: monospace;
  margin-bottom: 40px;
}

#gameGUI {
  display: none;
}

body {
  background-color: #A4CC95;
}

button{
  margin-top: 10px;
}
